.router{
  position: relative;
}
.routes{
  position: absolute;
  top: 0;
}


.popoverMenu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.menuButton{
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 20px;
  margin-top: 0;
}

.menuButton button{
  background: none;
  border: none;
}
.menuButton button i{
  font-size: 2em;
  margin-left: 10px;
  color: white;
}
.menuButton button i:hover{
  scale: 1.35;
  cursor: pointer;
}
.menuButton p{
  font-weight: bold;
  margin-left: auto;
  margin-top: 10px;
}
.menuButton button .fa-circle-xmark, .close{
  color: white;
}

/*********transition group************/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}