.router{
  position: relative;
}

.menuButton{
  position: sticky;
  z-index: 999;
  display: flex;
  right: 40px;
  top: 40px;
  align-items: center;
  justify-content: center;
  color: white;
}

.menuButton button{
  background: none;
  border: none;
}
.menuButton button i{
  font-size: 2em;
  margin-left: 10px;
  color: white;
}
.menuButton button i:hover{
  scale: 1.35;
  cursor: pointer;
}
.menuButton p{
  font-weight: bold;
  margin: auto;
}
.menuButton button .fa-circle-xmark, .close{
  color: white;
}

/*********transition group************/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}